.avatar {
  width: 40px;
  border-radius: 90%;
  margin-left: 3rem;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: -1px 1px 13px 0px rgba(0, 0, 0, 8);
  background: mintcream;
  color: gray;
  height: 4rem;
}

.profile {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
