.avatar {
  width: 40px;
  border-radius: 90%;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  margin-bottom: 3rem; 
}

.profile {
  display: flex;
  align-items: center;
}