.noteone img {
  width: 20rem;
}

.notetwo img {
  width: 20rem;
}

.notethree img {
  width: 20rem;
}

.notefour img {
  width: 20rem;
}

.measure {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
