ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0px;
  padding: 5px 1px;
  display: inline-block;
   
}

.sortable-ghost {
  opacity: .3;
}

.instructions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.play-container {
  display: flex;
  justify-content: flex-end;
}

.f, .a, .c, .e, .f {
  border-top: 2px solid gray;
  margin-bottom: 5px;
}

.bottom-container {
  display: flex;
  justify-content: center;
}

.notes img {
  width: 18.25px;
}

.notes {
  margin-right: 5px;
}

.music div li {
  list-style: none;
}

#snare1 img {
  width: 12px;
}

#snare3 img {
  width: 31px;
}

#snare4 img {
  width: 44px;
}