.card-container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  width: 54%;
  margin: auto;
}

.inner-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  align-items: center;
}

.card {
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
}

.main-container-search {
  /* background: url('../../drumimgs/drummergray.png'); */
  background-size: cover;
  height: 200vh;
  background: ghostwhite;
}

.albumimg img {
  width: 2rem;
  padding-right: 1.5em;
}

.img-album-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songname > a {
  display: flex;
  padding-left: 2rem;
  text-decoration: none;
  color: black;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  width: 54%;
  margin: auto;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
}

.album-cover-description {
  display: flex;
  justify-content: space-between;
}

.song {
  display: flex;
  padding-left: 3rem;
}

.album-description {
  padding-left: 2rem;
}

.song-album-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.save-cancel {
  display: flex;
  justify-content: center;
}

.save-your-song-text {
  text-align: center;
}

/* .search-container {
  position: fixed;
  background: ghostwhite;
  top: 5rem;
  width: 100vw;
} */

/* .header-container {
  margin-bottom: 3rem;
} */
