ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0px;
  padding: 1px 1px;
  display: inline-block;
}

.group,
.group-list {
  display: flex;
  list-style-type: none;
}

.sortable-ghost {
  opacity: 0.3;
}

.instructions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.play-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.bar {
  position: static;
  top: -4rem;
  z-index: 2;
  opacity: 0.5;
  padding: 0 3rem;
}

.e,
.g,
.b,
.d,
.f {
  border-top: 2px solid gray;
  margin-bottom: 10px;
}

.bottom-container {
  display: flex;
  justify-content: center;
}

.notes {
  margin-right: 5px;
}

.music div li {
  list-style: none;
}

#snare1 img {
  width: 15px;
}

#snare2 img {
  width: 26px;
}
#snare3 img {
  width: 44px;
}

#snare4 img {
  width: 65px;
}

#hihat2 img {
  width: 29px;
}
