.measure {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 3rem; */
}

.measures-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

.DrumData {
  padding: 0 5rem;
}
